<html lang="en">

<head>
  <!-- COMMON TAGS -->
  <meta charset="utf-8" />
  <title>PSA Digital Sukabumi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <!-- Search Engine -->
  <meta name="description" content="PSA Digital - Sukabumi - Indonesia" />
  <meta name="image" content="https://psa-digital.adaptable.app/" />
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="PSA Digital Sukabumi" />
  <meta itemprop="description" content="PSA Digital - Sukabumi - Indonesia" />
  <meta itemprop="image" content="https://psa-digital.adaptable.app/" />
  <!-- Open Graph general (Facebook, Pinterest & LinkedIn) -->
  <meta property="og:title" content="PSA Digital Sukabumi" />
  <meta property="og:description" content="500+ material UI components. Free for personal and commercial use." />
  <meta property="og:image" content="https://psa-digital.adaptable.app/assets/img/apple-touch-icon.png" />
  <meta property="og:url" content="https://psa-digital.adaptable.app/" />
  <meta property="og:site_name" content="PSA Digital Sukabumi" />
  <meta property="og:locale" content="id_ID" />
  <meta property="og:type" content="website" />
  <!-- Twitter -->
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:title" content="PSA Digital Sukabumi" />
  <meta property="twitter:description" content="PSA Digital Sukabumi - Indonesia" />
  <meta property="twitter:image:src" content="https://psa-digital.adaptable.app/assets/img/apple-touch-icon.png" />

  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png" />
  <link rel="manifest" href="../../assets/img/site.webmanifest" />
  <!-- MDB icon -->
  <link rel="icon" href="../../assets/img/favicon.ico" type="image/x-icon" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../assets/css/all.min.css" />
  <!-- MDB CSS-->
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
  <!-- Custom styles -->
  <style>

  </style>
</head>

<body>
  <div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
      <div class="text-center">
        {{{body}}}
      </div>
    </div>
  </div>
</body>

<!-- MDB JavaScript -->
<script type="importmap">
    { 
    "imports": { "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js", 
    "bootstrap": "../../assets/" } 
    }
</script>
<!-- <script type="text/javascript" src="../../assets/js/bootstrap.esm.js"></script> -->

<script type="module">

  import * as mdb from 'mdb-ui-kit'; // lib
  window.mdb = mdb;
  {{ #each array }}
  console.log({{ this }})
  {{ /each}}
</script>

</html>