<h1>Login</h1>
<form action="/login" method="post" id="form-login">
    <div class="form-outline mb-2">
        <input type="text" id="username" name="username" class="form-control" autocomplete="off" />
        <label class="form-label" for="username">Username</label>
    </div>
    <div class="form-outline mb-2">
        <input type="password" id="password" name="password" class="form-control" autocomplete="off" />
        <label class="form-label" for="password">Password</label>
    </div>
</form>
<div class="d-flex justify-content-between align-items-center">
    <a class="btn btn-secondary" href="/">Back</a>
    <button type="submit" form="form-login" class="btn btn-primary">Login</button>
</div>